<h1><%= @todo.title  %></h1>

<h3><%= @todo.time.to_formatted_s(:short) %></h3>

<p><%= @todo.body %></p>

<ul>
  <li><%= link_to "Edit", edit_todo_path(@todo) %></li>
  <li><%= link_to "Destroy", todo_path(@todo), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "Back to List", todos_path %></li>
</ul>